<!DOCTYPE html>
<html>
  <head>
    <title>Teotoru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo logo left"><%= image_tag("logo.png", size: "70") %></a>
        <a href="#" class="brand-logo logo center">teotoru</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html">Activities</a></li>
          <li><a href="badges.html">Events</a></li>
          <li><a href="collapsible.html">Projects</a></li>
          <li><a href="collapsible.html">Community</a></li>
          <li><a href="collapsible.html">Donate</a></li>
        </ul>
      </div>
    </nav>    

    <%= yield %>
  </body>

</html>
