<!DOCTYPE html>
<html>
  <head>
    <title>Teotoru</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper shades white">  
        <div class="container">
          <a href="#" class="brand-logo nav-title"><%= image_tag("logo.png", class:"nav-logo", height: '64') %><div>teotoru</div></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down nav-items">
            <li><a href="sass.html">Activities</a></li>
            <li><a href="badges.html">Events</a></li>
            <li><a href="collapsible.html">Projects</a></li>
            <li><a href="collapsible.html">Community</a></li>
            <li><a href="collapsible.html">Donate</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= value %>
    </div>
  <% end %>      
    <%= yield %>
  </body>

</html>
